<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace ： 需要被映射的接口全类名 -->
<mapper namespace="com.atguigu.mybatis.mapper.EmpMapper">

    <!--  自定义映射 -->
    <resultMap id="empResultMap" type="Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
    </resultMap>
    <!--     Emp queryEmpById(Integer empId); -->
    <select id="queryEmpById" resultMap="empResultMap">
        select * from `t_emp` where `emp_id` = #{empId}
    </select>

    <!--     Emp queryEmpById(Integer empId); -->
    <!--<select id="queryEmpById" resultType="Emp">-->
        <!--select * from `t_emp` where `emp_id` = #{empId}-->
    <!--</select>-->


    <resultMap id="empAndDeptById" type="Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <!--<result column="emp_id" property="dept.deptId"/>-->
        <!--<result column="emp_name" property="dept.deptName"/>-->
        <association property="dept" javaType="Dept" fetchType="eager">
            <id column="dept_id" property="deptId" />
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>
    <!--Emp queryEmpAndDeptById(@Param("empId") Integer empId); -->
    <select id="queryEmpAndDeptById" resultMap="empAndDeptById">
        SELECT emp.*,dept.*
        FROM `t_emp` emp LEFT JOIN `t_dept` dept ON emp.`dept_id` = dept.`dept_id`
        WHERE `emp_id` = #{empId}
    </select>



    <resultMap id="empAndDeptByStepResultMap" type="Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <association property="dept"
                     column="dept_id"
                     select="com.atguigu.mybatis.mapper.DeptMapper.queryEmpAndDeptByStepTwo"/>
    </resultMap>
    <!-- Emp queryEmpAndDeptByStepOne(@Param("empId") Integer empId); -->
    <select id="queryEmpAndDeptByStepOne" resultMap="empAndDeptByStepResultMap">
          select * from `t_emp` where `emp_id`  = #{empId}
    </select>



</mapper>